<%= form_for [@question, @answer], html: { id: "question", class: "form"}, remote: true do |f| %>
  <%= render 'layouts/errors', :object => @answer %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <%= f.submit "Add Answer", id: "question", class: "btn btn-primary" %>
<% end %>



